.Weather {
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px;
  margin: 30px auto;
  background-color: #ffffff;
}

body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.2;
  text-align: center;
  background-color: white;
}

.Weather form {
  margin-bottom: 20px;
}

.btn {
  background-color: #123c69;
  border-color: #123c69;
}

.Weather h1 {
  font-size: 5rem;
  margin: 20px 0 0 0;
  display: block;
  text-align: center;
  font-weight: bolder;
  color: #ac3b61;
}
.Weather ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Weather li {
  font-size: 20px;
  font-weight: 500px;
  display: block;

  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #ac3b61;
}

.Weather .unit {
  font-size: 26px;
  position: relative;
  top: -14px;
  margin-left: 5px;
  line-height: 1;
  color: #ac3b61;
}
